Voos/Voos/Connected Services/ServiceReferenceWSVoos/WebServiceVoos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost:55069/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost:55069/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost:55069/">
      <s:element name="LerVoos">
        <s:complexType />
      </s:element>
      <s:element name="LerVoosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LerVoosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LerVoosSoapIn">
    <wsdl:part name="parameters" element="tns:LerVoos" />
  </wsdl:message>
  <wsdl:message name="LerVoosSoapOut">
    <wsdl:part name="parameters" element="tns:LerVoosResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceVoosSoap">
    <wsdl:operation name="LerVoos">
      <wsdl:input message="tns:LerVoosSoapIn" />
      <wsdl:output message="tns:LerVoosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceVoosSoap" type="tns:WebServiceVoosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LerVoos">
      <soap:operation soapAction="http://localhost:55069/LerVoos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceVoosSoap12" type="tns:WebServiceVoosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LerVoos">
      <soap12:operation soapAction="http://localhost:55069/LerVoos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceVoos">
    <wsdl:port name="WebServiceVoosSoap" binding="tns:WebServiceVoosSoap">
      <soap:address location="http://localhost:55069/WebServiceVoos.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceVoosSoap12" binding="tns:WebServiceVoosSoap12">
      <soap12:address location="http://localhost:55069/WebServiceVoos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>